---

### VM
vagrant_synced_folders:
  - local_path: ./demo
    destination: /var/www/demo
    create: true

development_mode: true

### Firewall
firewall_allowed_tcp_ports:
  - "22"
  - "80"
  - "443"

### HTTPD
apache_remove_default_vhost: true

###  VHosts

apache_vhosts:
  - servername: "small.vm"
    documentroot: "/var/www/demo"
    extra_parameters: "{{ apache_vhost_php_fpm_parameters }}"

# Php
php_fpm_pm_max_children: 4
php_fpm_pm_start_servers: 2
php_fpm_pm_min_spare_servers: 1
php_fpm_pm_max_spare_servers: 2

### MySQL

# Set this to the user ansible is logging in as - should have root
# or sudo access
mysql_user_home: /home/ubuntu
mysql_user_name: ubuntu
mysql_user_password: ubuntu

# The default root user installed by mysql - almost always root
mysql_root_home: /root
mysql_root_username: root
mysql_root_password: root

# Databases.
mysql_databases:
  - name: "small_vm"
    collation: utf8mb4_general_ci
    encoding: utf8mb4

# Users.
mysql_users:
  - name: "small"
    host: "%"
    password: "Iamasmallvm"
    priv: "small_vm.*:ALL"

### Nginx

nginx_vhosts:
 - listen: "80 default_server"
   extra_parameters: |
    location / {
      proxy_pass  http://127.0.0.1:{{ varnish_listen_port }};
    }

### Varnish

varnish_storage: "malloc,128M"