---
apache_remove_default_vhost: true

###  VHosts

apache_vhosts:
  - servername: "small.vm"
    documentroot: "/var/www/small.vm"
    extra_parameters: |
      ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/var/www/small.vm"

### MySQL

# Set this to the user ansible is logging in as - should have root
# or sudo access
mysql_user_home: /home/ubuntu
mysql_user_name: ubuntu
mysql_user_password: ubuntu

# The default root user installed by mysql - almost always root
mysql_root_home: /root
mysql_root_username: root
mysql_root_password: root

# Databases.
mysql_databases:
  - name: small_vm
    collation: utf8mb4_general_ci
    encoding: utf8mb4
#    replicate: 1

# Users.
mysql_users:
  - name: small
    host: 127.0.0.1
    password: Iamasmallvm
    priv: small_vm.*:ALL