vcl 4.0;

backend default {
  .host = "{{ varnish_default_backend_host }}";
  .port = "{{ varnish_default_backend_port }}";
}


acl internal {
  "192.x.x.x"/24;
  xxx.xxx.xx.xx;
}

acl purge {
  "localhost";
  server ip address or hostname;
}

sub vcl_backend_response {
  if (beresp.ttl == 120s) {
    set beresp.ttl = 1h;
  }
}

sub vcl_recv{

  # return(pass);
  
  if (req.method == "PURGE") {

    if (client.ip !~ purge) {
      return (synth(405));
    }

    if (req.http.X-Purge-Method == "regex") {
      ban("req.url ~ " + req.url + " &amp;&amp; req.http.host ~ " + req.http.host);
      return (synth(200, "Banned."));
    } else {

      return (purge);

    }
  }

  set req.http.Host = regsub(req.http.Host, ":[0-9]+", "");

  if (req.restarts == 0) {
    if (req.http.X-Forwarded-For) {
      set req.http.X-Forwarded-For = req.http.X-Forwarded-For + ", " + client.ip;
    } else {
      set req.http.X-Forwarded-For = client.ip;
    }
  }


  if (req.url ~ "wp-admin|wp-login") {
    return (pass);
  }

  if (req.http.X-Requested-With == "XMLHttpRequest") {
    return(pass);
  }

  if (req.http.Authorization || req.method == "POST") {
    return (pass);
  }

  if (req.method != "GET" && req.method != "HEAD") {
    return (pass);
  }

  if (req.url ~ "(wp-admin|post\.php|edit\.php|wp-login)") {
    return(pass);
  }

  if (req.url ~ "/wp-cron.php" || req.url ~ "preview=true") {
    return (pass);
  }

  if (req.url ~ "(cart|my-account|checkout|addons)") {
    return (pass);
  }
  if ( req.url ~ "\?add-to-cart=" ) {
    return (pass);
  }

  set req.http.cookie = regsuball(req.http.cookie, "wp-settings-\d+=[^;]+(; )?", "");
  set req.http.cookie = regsuball(req.http.cookie, "wp-settings-time-\d+=[^;]+(; )?", "");
  set req.http.cookie = regsuball(req.http.cookie, "wordpress_test_cookie=[^;]+(; )?", "");

  set req.http.Cookie = regsuball(req.http.Cookie, "has_js=[^;]+(; )?", "");
  set req.http.Cookie = regsuball(req.http.Cookie, "wp-settings-1=[^;]+(; )?", "");
  set req.http.Cookie = regsuball(req.http.Cookie, "wp-settings-time-1=[^;]+(; )?", "");
  set req.http.Cookie = regsuball(req.http.Cookie, "wordpress_test_cookie=[^;]+(; )?", "");
  set req.http.Cookie = regsuball(req.http.Cookie, "PHPSESSID=[^;]+(; )?", "");

  if (req.http.cookie == "") {
    unset req.http.cookie;
  }
}
